@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans.eot')
  src: url('./fonts/ALSSchlangesans.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans.woff') format('woff'),
    url('./fonts/ALSSchlangesans.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Black.eot')
  src: url('./fonts/ALSSchlangesans-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Black.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Light.eot')
  src: url('./fonts/ALSSchlangesans-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Light.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Bold.eot')
  src: url('./fonts/ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Bold.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Bold.ttf') format('truetype');
  font-weight: bold
  font-style: normal


.star-impression
  text-align center
  font-family 'ALSSans', Helvetica
  padding-top 1px

  position relative
  .canvas-container
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
    pointer-events none

  .title
    color white
    max-width 80%
    margin 0 auto
    font-weight bold

  &.-size-small .title
    font-size 36px
    margin-top 40px

  &.-size-medium .title
    font-size 56px
    margin-top 60px

  .description
    color white
    margin 0 auto
    line-height 1.3
    font-weight 500

  &.-size-small .description
    font-size 16px
    margin-top 10px
    max-width 80%

  &.-size-medium .description
    font-size 28px
    margin-top 15px
    max-width 65%

  .additional
    margin-top 35px

  .link
    color white
    font-family  Helvetica
    font-weight 500
    letter-spacing 1px
    font-size 28px
    padding 7px 14px
    display inline-block
    border-radius 8px
    border 4px solid white
    box-sizing border-box


  .impress-counter
    display inline-block
    background-color white
    font-family Helvetica
    font-weight 700
    position relative
    border-radius 5px
    color #67A793
    padding 5px 15px

    padding-right 35px

    .count-row
      .count
        display inline-block
        min-width 85px
        text-align right
        font-size 56px
        line-height 1
      .label
        font-family 'ALSSans'
        font-size 26px
        display inline-block
        margin-left 20px
        max-width 160px
        line-height 1.0
        text-align left

  &.-size-medium .impress-counter
    font-size 70px
    margin-top 35px
    border-width 12px

  &.-size-small .impress-counter
    font-size 36px
    margin-top 20px
    border-width 8px




