@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans.eot')
  src: url('./fonts/ALSSchlangesans.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans.woff') format('woff'),
    url('./fonts/ALSSchlangesans.ttf') format('truetype')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Black.eot')
  src: url('./fonts/ALSSchlangesans-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Black.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Light.eot')
  src: url('./fonts/ALSSchlangesans-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Light.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'ALSSans'
  src: url('./fonts/ALSSchlangesans-Bold.eot')
  src: url('./fonts/ALSSchlangesans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ALSSchlangesans-Bold.woff') format('woff'),
    url('./fonts/ALSSchlangesans-Bold.ttf') format('truetype');
  font-weight: bold
  font-style: normal


.star-impression
  text-align center
  font-family 'ALSSans', Helvetica

  position relative
  .canvas-container
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
    pointer-events none

  .title
    color white
    max-width 80%
    margin 0 auto
    font-weight bold

  &.-size-small .title
    font-size 36px
    margin-top 60px

  &.-size-medium .title
    font-size 56px
    margin-top 80px

  .description
    color white
    margin 0 auto
    line-height 1.3
    font-weight 500

  &.-size-small .description
    font-size 16px
    margin-top 10px
    max-width 80%

  &.-size-medium .description
    font-size 28px
    margin-top 20px
    max-width 65%

  make-circle($radius)
    width $radius
    height $radius
    border-radius $radius
    display inline-block
    line-height $radius

  .impress-counter
    color white
    border 8px solid white
    font-family Helvetica
    font-weight 700

  &.-size-medium .impress-counter
    make-circle(135px)
    font-size 70px
    margin-top 35px
    border-width 12px

  &.-size-small .impress-counter
    make-circle(65px)
    font-size 36px
    margin-top 20px
    border-width 8px


